//general
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'poppins';
    p, h1, h2 {
        margin: 0;
    }
    input, button, select {
        width: 100%;
        padding: 1em;
        border-radius: 1em;
        border: 1px solid lightgray;
        box-sizing: border-box;
    }
    button {
        cursor: pointer;
        background-color: #3498db;
        color: white;
        font-weight: 600;
        &:hover {
            background-color: #2980b9;
        }
    }
}

//pages
.login, .signup {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
    .section {
        padding: 6em;
    }
    .left {
        background-color: violet;
    }
    .right {
        display: flex;
        flex-direction: column;
        gap: 2em;
        justify-content: center;
        form {
            display: flex;
            flex-direction: column;
            gap: 1em;
            button {
                margin-top: 1em;
            }
        }
        .toggle {
            display: flex;
            gap: 1em;
            justify-content: center;
            .action {
                color: orange;
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
}

.chat {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh;
    box-sizing: border-box;
    img {
        width: 2em;
    }

    .section {
        padding: 2em;
        box-sizing: border-box;
    }
    .left {
        display: flex;
        flex-direction: column;
        gap: 2em;
        background-color: lightgray;

        .entry {
            display: flex;
            flex-direction: column;
            gap: 1em;
        }

        .users {
            display: flex;
            flex-direction: column;
            gap: 1em;
            .user {
                background-color: #37415165;
                display: flex;
                gap: 1em;
                border-radius: 1em;
                align-items: center;
                padding: 1em;
                .picture {
                    position: relative;
                    .status {
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        width: 0.5em;
                        height: 0.5em;
                        border-radius: 50%;
                        background-color: gray;
                    }
                    .online {
                        background-color: rgb(0, 255, 0);
                    }
                }
            }
        }
    }
    .right {
        .connection {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            .conn {
                display: flex;
                align-items: center;
                height: 4em;
                .clear {
                    margin-left: auto;
                    cursor: pointer;
                }
            }
            .messagesArea {
                height: 30em;
                overflow-y: auto;
                display: flex;
                flex-direction: column-reverse;
                gap: 1em;
                padding: 1em;
                box-sizing: border-box;
                scrollbar-width: none;
                color: white;
                border: 1px solid lightgray;
                border-radius: 10px;
                .msg {
                    padding: 1em;
                    border-radius: 1em;
                    background-color: #374151;
                    width: fit-content;
                    align-self: start;
                    display: flex;
                    flex-direction: column;
                    gap: 0.2em;
                    .smaller {
                        font-size: 0.5em;
                    }
                }
                .mine {
                    background-color: #2563eb;
                    align-self: end;
                }
            }
            form {
                position: relative;
                display: flex;
                align-items: center;
                input, button {
                    height: 4em;
                }
                button {
                    position: absolute;
                    right: 0;
                    width: fit-content;
                }
            }
        }
    }
}

.ticTacToe {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 3em;
    box-sizing: border-box;
    align-items: center;
    user-select: none;

    .users {
        display: flex;
        flex-direction: row;
        padding: 0.5em;
        border-radius: 1em;
        background-color: lightgray;
        width: 50%;
        box-sizing: border-box;
        .user {
            border-radius: 0.5em;
            padding: 0.5em;
            width: fit-content;
            aspect-ratio: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img {
                width: 2em;
            }
            &:hover {
                background-color: #0c4f7c5a;
            }
        }
    }

    .area {
        width: 70%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 2em;
        justify-content: center;
        align-items: center;

        .game {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            .user {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 1em;
                border-radius: 1em;
                background-color: #feb47b;
                .status {
                    padding: 0.5em;
                    background-color: gray;
                    border-radius: 1em;
                }
                .available {
                    background-color: lightgreen;
                }
            }

            .board {
                display: grid;
                grid-template-columns: repeat(3, 7em);
                grid-template-rows: repeat(3, 7em);
                gap: 0.2em;
                .cell {
                    width: 100%;
                    height: 100%;
                    background-color: lightgray;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 5em;
                    font-weight: 500;
                }
            }
        }
    }

    .remoteCursor {
        position: fixed;
        top: 0;
        left: 0;
        background-color: #0c4f7c;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2em;
        height: 2em;
        border-radius: 50%;
        
        pointer-events: none;
        transition: transform 0.05s linear;
        will-change: transform; 
    }
}

.whiteboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    height: 100vh;

    .toolset {
        position: fixed;
        top: calc(50% - 9em);
        left: 5%;
        background-color: lightgray;
        border-radius: 2em;
        width: 4em;
        height: 20em;

        display: flex;
        flex-direction: column;
        gap: 1em;
        padding: 0.5em;
        box-sizing: border-box;
        .color {
            width: 100%;
            aspect-ratio: 1;
            border-radius: 50%;
            cursor: pointer;
        }
        .green {
            background-color: green;
        }
        .red {
            background-color: red;
        }
        .blue {
            background-color: blue;
        }
    }
}

.appLayout {
    display: grid;
    grid-template-columns: 5em auto;
    height: 100vh;

    .main-nav {
        background-color: #001525;
        display: flex;
        flex-direction: column;
        color: white;
        align-items: center;
        padding: 2em 0;
        gap: 2em;
        h1 {
            cursor: pointer;
            font-size: smaller;
        }
        ul {
            padding: 0;
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 0.5em;
            li {
                cursor: pointer;
                width: 3em;
                aspect-ratio: 1;
                border-radius: 10px;
                background-color: lightgray;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0.3em;
                box-sizing: border-box;
                &:hover {
                    background-color: rgb(237, 228, 213);
                }
            }
        }
        .user {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: auto;
            gap: 2em;
            img {
                cursor: pointer;
                width: 2em;
                filter: invert(1);
                margin-top: auto;
            }
            img.notification {
                width: 3em;
            }

            .notifications {
                .bell {
                    cursor: pointer;
                    position: relative;
                    .count {
                        position: absolute;
                        width: 1em;
                        height: 1em;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        background-color: red;
                        color: white;
                        right: 0;
                        top: 0;
                    }
                }

                position: relative;
                .content {
                    position: absolute;
                    left: 2em;
                    bottom: 2em;
                    display: flex;
                    flex-direction: column;
                    gap: 1em;
                    width: 20em;
                    background-color: gray;
                    z-index: -1;
                    opacity: 0;
                    transform: opacity 1s ease;
                    div.notification {
                        .actions {
                            display: flex;
                            gap: 0.5em;
                            button{
                                background-color: red;
                            }
                            button.accept {
                                background-color: green;
                            }
                        }
                    }
                }
                .show {
                    z-index: 1;
                    opacity: 1;
                }
            }
        }
    }

}



.team {
    display: grid;
    grid-template-columns: 20% 80%;
    .left {
        background-color: lightgray;
        display: flex;
        flex-direction: column;
        padding: 1em;
        box-sizing: border-box;
        gap: 1em;
        form {
            display: grid;
            grid-template-columns: 1fr 2fr;
            gap: 1em;
        }

        ul {
            padding: 0;
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 0.5em;
            li {
                cursor: pointer;
                width: 100%;
                padding: 0.5em;
                box-sizing: border-box;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgba(128, 128, 128, 0.427);
                border-radius: 10px;
            }
        }
    }

    .right {
        padding: 1em;
        box-sizing: border-box;
    }
}

.teamChat {
    .messages {
        height: 35em;
        overflow-y: auto;
        display: flex;
        flex-direction: column-reverse;
        gap: 0.5em;
        .message {
            width: fit-content;
            .bubble {
                background-color: #374151;
                border-radius: 1em;
                color: white;
                padding: 0.5em;
            }
        }
        .message.mine {
            align-self: end;
            .bubble {
                background-color: #0c4f7c;
            }
        }
    }
}

.teamBoards {
    .cards {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: auto;
        gap: 1em;
        margin-top: 1em;
        .card {
            cursor: pointer;
            background-color: #3498db7c;
            border-radius: 1em;
            width: 100%;
            height: 18em;
            display: flex;
            justify-content: center;
            align-items: center;
            p {
                font-size: 3em;
            }
        }
        .boardCard {
            cursor: pointer;
            background-color: #3498db7c;
            border-radius: 1em;
            width: 100%;
            height: 18em;
            display: grid;
            grid-template-rows: 70% 30%;
            img {
                width: 100%;
                height: 100%;
                border-radius: 1em 1em 0 0;
            }
            .info {
                background-color: wheat;
                height: 100%;
                display: flex;
                justify-content: start;
                align-items: center;
                width: 100%;
                padding: 1em;
                box-sizing: border-box;
                border-radius: 0 0 1em 1em;
            }
        }
    }
}

.teamKanban {
    background-color: rgb(24, 24, 24);
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    align-items: center;
    padding: 10%;
    height: 100vh;
    box-sizing: border-box;
    h1 {
        font-size: 2.5em;
        background-image: linear-gradient(to right, #ff7e5f, #feb47b);
        background-clip: text;
        color: transparent; 
    }
    form {
        display: grid;
        grid-template-columns: 60% 20% 20%;
        width: 30em;
        transform: scale(0.8);
        input, select {
            background-color: rgb(51, 51, 51);
            border: 0;
            border-radius: 0;
            color: white;
            font-weight: 600;
            height: 4em;
        }
        select {
            border-left: 1px solid black;
        }
        button {
            background-color: orange;
            border-radius: 0 10px 10px 0;
            border: 0;
        }
    }
    .board {
        display: flex;
        gap: 1em;
        .list {
            background-color: rgb(29, 29, 29);
            width: 20em;
            height: 22em;
            border-radius: 1em 1em 0 0;
            display: grid;
            grid-template-rows: 15% 85%;
            .header {
                border-top: 4px solid #2980b9;
                background: linear-gradient(to top right, #0c4f7c, #2980b9);
                border-radius: inherit;
                box-sizing: border-box;
                padding: 0.7em 1em;
                color: white;
                font-weight: 600;
            }
            .header.in_progress {
                border-top: 4px solid orange;
                background: linear-gradient(to top right, rgb(183, 119, 0), orange);
            }
            .header.done {
                border-top: 4px solid rgb(0, 218, 0);
                background: linear-gradient(to top right, rgb(0, 168, 0), rgb(0, 218, 0));
            }

            .items {
                padding: 0.5em;
                display: flex;
                flex-direction: column;
                gap: 0.5em;
            }
        }

        p {
            user-select: none;
        }
    }

    .item {
        background-color: rgb(76, 76, 76);
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        padding: 0.5em;
        height: 3em;
        box-sizing: border-box;
    }
    .dragged {
        opacity: 0.5;
        position: fixed;
        width: 19em;
    }

    .currentTeam, .roomMembers {
        cursor: pointer;
        position: fixed;
        top: 2em;
        left: 7em;
        width: 10em;
        height: 2.5em;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: lightgray;
        font-weight: 500;
        box-shadow: 10px 10px 1em rgba(0, 0, 0, 0.373);
    }
    .roomMembers {
        left: unset;
        right: 3em;
        gap: 0.5em;
        img {
            width: 2em;
        }
    }
}